/*Instalação de fontes*/
@font-face {
    font-family:'bubblegum' ;
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

body{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
}

p{
    text-align: justify;
    text-indent: 15px;
}

section#corpo  h2{
    background-color: #a0a0a0;
    color:#ffffff;
    padding: 10px;
}

.centralizado{
    text-align: center;
}

#foto {

 width:440px;
 height: 340px;
}

#foto img
{
    border:solid 8px #ffffff;
    box-shadow: 10px 10px 40px;
    width:100%;
    height: 300px;
}

#foto figcaption
{
    opacity: 0;
    position: relative;
    top: -322px;
    background-color: #000000;
    height: 318px;
    width: 456px;

}

#foto figcaption h6{
    padding: 100px 50px;
    font-size: 40px;
    margin: auto;
}

#foto:hover figcaption
{   
    opacity: 0.6;
    color:#ffffff;   
    
}

div#interface{
    width:900px; 
    background-color: white;
    margin:-20px auto 0px auto;
    box-shadow: 0px 0px 10px black;
    padding:10px;}

header#cabecalho
{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}    
header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color:#606060;
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color:#888888;
    pad: 0px;
    margin-top: 0px;
}

header#cabecalho img#icone
{
    position: absolute;
    left:1000px;
    top:40px;
}

section#corpo{
    display: block;
    width:550px;
    float: left;
    border-right: 1px solid black;
    padding-right: 20px;
}

aside#lateral{
    display: block;
    width: 300px;
    float: right;
    background-color: #dddddd;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);

}
aside#lateral h1 {
    font-family:'bubblegum', sans-serif;
    font-size:20pt;
    color:#606060;
    margin-top: 0px;
}
aside#lateral h2 {
    background-color:#606060 ;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#rodape{
    clear:both;
    border-top:1px solid black;
}

footer#rodape p{
    text-align: center;
}

.direita {
    text-align: right;
}
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing:0px;
    margin-left:auto;
    margin-right:auto ;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

}
table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align:top;
    font-weight: bold;
}
table#tabelaspec td.cd {
    background-color: #cecece;
}
table#tabelaspec caption {
    color: #888888;
    font-size:13pt;
    font-wight:bolder;
}
table#tabelaspec caption span#data{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

video#index{
    display: block;
    position: relative;
    width:320px;
    height:150px;
}

nav#menu  {
    display: block;
    }
nav#menu ul {
    list-style: none;
    text-transform:uppercase;
    position: absolute;
    top: 0px;
    left: 500px;
    margin: -10px;
        }
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060;
 }
nav#menu h1{
    display: none;
}
nav#menu a {
    color: #000000;

}
nav#menu a:hover{
    color: #ffffff;

}